<template>
  <header>
  </header>
</template>

<script>
  export default {
    name: 'AppHeader'
  }
</script>

<style>
  header {
    height: 45px;
    background: url(../../assets/images/logo-chaordic.png) no-repeat center center;
  }
</style>
